
<%= form_with class: "row g-3", model: organization do |form| %>
  <div class="col-md-6">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :city, class: "form-label" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="col-6">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :region, class: "form-label" %>
    <%= form.text_field :region, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :country, class: "form-label" %>
    <%= form.text_field :country, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :postal_code, class: "form-label" %>
    <%= form.text_field :postal_code, class: "form-control" %>
  </div>


  <div>
    <%= form.submit%>
  </div>
<% end %>